apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
  namespace: django-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      imagePullSecrets:
        - name: regcred    
      containers:
        - name: django-app
          image: ghcr.io/anisiforovevgeniy/django-kubernetes-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: django-secrets  
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
